* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #000000;
}

nav{
    z-index: 4;
    position: sticky;
    top: 0;
    width: 100%;
    height: 10vh;
    backdrop-filter: brightness(100%);
}


.nav-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-container .logo img{
    width: 140px;
    height: 50px;
}

.nav-container .links a{
    font-size: 1.3rem;
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin: 0 20px;
    transition: 0.3s linear;
}

.nav-container .links a:hover{
    color: #fca61f;
    text-shadow: 1px 1px #fca61f ;
}

nav button{
    width: 150px;
    height: 40px;
    border-radius:20px;
    background-color: #fca61f;
    color: white;
    font-size: 1.2rem;
    transition: 0.3s linear;
    font-weight: 700;
    box-shadow: 1px 1px 10px #fca61f;
    border: none;
    outline: none;
}

nav button:hover{
    background-color:white;
    color: #fca61f;
    border:2px solid #fca61f;
}

nav svg{
    position: absolute;
    right: 20px;
    top: 15px;
    cursor: pointer;
    display: none;
}

nav .dropmenu{
    position: absolute;
    top: 0;
    backdrop-filter: blur(2px);
    width: 100%;
    height: auto;
    transform: translateY(-300px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 0.3s linear;
}

.dropmenu a{
    font-size: 1.4rem;
    text-align: center;
    width: 100%;
    color: rgb(255, 255, 255);
    padding: 10px 0;
    text-decoration: none;
    transition: 0.3s linear;
}

.dropmenu a:hover{
    background-color: black;
    color: white;
}

.dropmenu button{
    width: 100%;
    height: 45px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.skills-section {
    padding: 40px;
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    font-size: 36px;
    color: #faf7f7;
    margin-bottom: 40px;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.skill-card {
    background-color: #f67e0d;
    color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.skill-card h2 {
    font-size: 22px;
    margin-bottom: 10px;
}

.skill-card p {
    font-size: 16px;
}

.skill-card:hover {
    transform: scale(1.05);
}

@media (max-width:768px){
    .links{
        display: none;
    }

    .nav-container button{
        display: none;
    }

    nav svg{
        display: block;
    }

    .nav-container .logo{
        position: absolute;
        left: 10px;
    }

   

}
